h1 {
    color: green;
}

#percentbtnspace {
    padding-top: 5px;
}

#customspace {
    height: 75px;
    padding-top: 5px;
}

#custominputdiv {
    display: none;
    padding-top: 5px;
}

#tipspace, #billspace {
    height: 40px;
}